# DAOS agent configuration file.
#
# Location of this configuration file is determined by first checking for the
# path specified through the -o option of the daos_agent command line.
# Otherwise, /etc/daos/daos_agent.yml is used.
#
# Section describing the daos_agent configuration
#
# Although not supported for now, one might want to connect to multiple
# DAOS installations from the same node in the future.
#
# Specify the associated DAOS systems.
# Name must match name specified in the daos_server.yml file on the server.
#
# NOTE: changing the name is not supported yet, it must be daos_server
#
# default: daos_server
#name: daos_server

# Management server access points
# Must have the same value for all agents and servers in a system.
# default: hostname of this node
#access_points: ['hostname1']

# Force different port number to connect to access points.
# default: 10001
#port: 10001

## Transport Credentials Specifying certificates to secure communications
#
#transport_config:
#  # In order to disable transport security, uncomment and set allow_insecure
#  # to true. Not recommended for production configurations.
#  allow_insecure: false
#
#  # Custom CA Root certificate for generated certs
#  ca_cert: /etc/daos/certs/daosCA.crt
#  # Agent certificate for use in TLS handshakes
#  cert: /etc/daos/certs/agent.crt
#  # Key portion of Agent Certificate
#  key: /etc/daos/certs/agent.key

# Use the given directory for creating unix domain sockets
# default: /var/run/daos_agent
#runtime_dir: /var/run/daos_agent

# Full path and name of the DAOS agent logfile.
# default: /tmp/daos_agent.log
#log_file: /tmp/daos_agent.log

# Manually define the fabric interfaces and domains to be used by the agent,
# organized by NUMA node.
# If not defined, the agent will automatically detect all fabric interfaces and
# select appropriate ones based on the server preferences.
#fabric_ifaces:
#  - numa_node: 0
#    devices:
#    -
#      - iface: ib0
#      - domain: mlx5_0
#    -
#      - iface: ib1
#      - domain: mlx5_1
#  - numa_node: 1
#    devices:
#    -
#      - iface: ib2
#      - domain: mlx5_2
#    -
#      - iface: ib3
#      - domain: mlx5_3
