Source: cart
Section: net
Priority: optional
Maintainer: daos-stack <daos@daos.groups.io>
Build-Depends: debhelper (>= 10),
               dh-python,
               libcmocka-dev,
               libfabric-dev,
               libhwloc-dev,
               libopenmpi-dev,
               libpmix-dev,
               libssl-dev,
               libyaml-dev,
               libmercury-dev (= 1.0.1-21),
               scons,
               uuid-dev
Standards-Version: 4.1.2
Homepage: https://wiki.hpdd.intel.com/display/DC/DAOS+Community+Home
Vcs-Git: https://github.com/daos-stack/cart.git
Vcs-Browser: https://github.com/daos-stack/cart.git

Package: cart
Section: net
Architecture: any
Multi-Arch: same
Depends: libcart4 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends},
         openmpi-bin
Description: Collective and RPC Transport
 CaRT is an open-source RPC transport layer for Big Data and Exascale
 HPC. It supports both traditional P2P RPC delivering and collective RPC
 which invokes the RPC at a group of target servers with a scalable
 tree-based message propagating.
 .
 This package contains the Cart Utilities.

Package: libcart-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libcart4 (= ${binary:Version}), ${misc:Depends}
Description: Collective and RPC Transport
 CaRT is an open-source RPC transport layer for Big Data and Exascale
 HPC. It supports both traditional P2P RPC delivering and collective RPC
 which invokes the RPC at a group of target servers with a scalable
 tree-based message propagating.
 .
 This package is needed to compile programs against libcart.
 It contains the header files and links needed for compiling.


Package: libcart4
Section: libs
Architecture: any
Multi-Arch: same
Depends: libmercury1, libpmix2, libyaml-0-2, libuuid1,
         ${shlibs:Depends}, ${misc:Depends}
Description: Collective and RPC Transport
 CaRT is an open-source RPC transport layer for Big Data and Exascale
 HPC. It supports both traditional P2P RPC delivering and collective RPC
 which invokes the RPC at a group of target servers with a scalable
 tree-based message propagating.
 .
 This package contains the shared libraries.

Package: cart-tests
Architecture: any
Multi-Arch: same
Depends: cart (= ${binary:Version}),
         python (>=2.7), python3, python-yaml, python3-yaml,
         ${shlibs:Depends}, ${misc:Depends}
Description: Collective and RPC Transport
 CaRT is an open-source RPC transport layer for Big Data and Exascale
 HPC. It supports both traditional P2P RPC delivering and collective RPC
 which invokes the RPC at a group of target servers with a scalable
 tree-based message propagating.
 .
 This package contains unit tests

