# have Release Engineering added as a reviewer to any PR that updates
# a component sha1 to ensure that corresponding package build is done
#utils/build.config @daos-stack/release-engineering
# or updates packaging in any way
#utils/rpms @daos-stack/release-engineering

# any PR that touches Go files should get a review from go-owners
#*.go @daos-stack/go-owners

# Notify vos-watcher of files touched affecting VOS
src/vos/ @daos-stack/vos-watcher
src/common/btree*.* @daos-stack/vos-watcher
src/include/daos/btree*.* @daos-stack/vos-watcher
src/include/daos_srv/vos*.* @daos-stack/vos-watcher
src/include/daos_srv/evtree.h @daos-stack/vos-watcher

# Jenkinsfile changes should be reviewed by Release Engineering
#Jenkinsfile @daos-stack/release-engineering

# any PR that touches client API or high level client code
src/client @daos-stack/client-api-watcher
include/daos_* @daos-stack/client-api-watcher
