# have release-engineering added as a reviewer to any PR that updates
# a component sha1
utils/build.config @release-engineering
# or updates packaging in any way
utils/rpms @release-engineering

# any PR that touches Go files should get a review from go-owners
*.go @go-owners

# any PR that touches VOS files should get a review from VOS
src/vos/* src/common/btree*.* @VOS

# Jenkinsfile changes should be reviewed by Brian
Jenkinsfile @brianjmurrell
