version: 2
updates:
  - package-ecosystem: pip
    directories:
      - /utils/ansible/ftest/
      - /utils/cq/
      - /
    schedule:
      interval: daily
    groups:
      python-packages:
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      gha-versions:
        patterns:
          - "*"
    assignees:
      - daos-stack/actions-watchers
    commit-message:
      prefix: "Doc-only: true \n"
