project_id         = "<project_id>"
region             = "us-central1"
zone               = "us-central1-f"
# network_name       = "default"
# subnetwork_name    = "default"
# subnetwork_project = "<project_id>"

client_labels              = {
  example = "only_daos_client"
}

# client_number_of_instances = 4
# client_preemptible         = "false"
# client_mig_name            = "daos-client"
# client_template_name       = "daos-client"
# client_instance_base_name  = "daos-client"
# client_machine_type        = "c2-standard-16"
# client_os_family           = "daos-client-hpc-centos-7"
# client_os_project          = "<project_id>"
# client_os_disk_type        = "pd-ssd"
# client_os_disk_size_gb     = 20
daos_ca_secret_id            = "daos-server_ca"

client_daos_agent_yml = <<EOT
#
# DAOS agent configuration file
#

# Management server access points
access_points: ["daos-server-0001","daos-server-0002","daos-server-0003"]

transport_config:
  allow_insecure: false
  ca_cert: /etc/daos/certs/daosCA.crt
  cert: /etc/daos/certs/agent.crt
  key: /etc/daos/certs/agent.key

EOT

client_daos_control_yml = <<EOT
#
# DAOS manager (dmg) configuration file
#

# hostlist must contain the list of all DAOS servers
hostlist: ["daos-server-[0001-0004"]
transport_config:
  allow_insecure: false
  ca_cert: /etc/daos/certs/daosCA.crt
  cert: /etc/daos/certs/agent.crt
  key: /etc/daos/certs/agent.key

EOT
