HTTP_PROXY={{ daos_http_proxy }}
HTTPS_PROXY={{ daos_http_proxy }}
NO_PROXY=localhost,127.0.0.1
http_proxy={{ daos_http_proxy }}
https_proxy={{ daos_http_proxy }}
no_proxy=localhost,127.0.0.1

export HTTP_PROXY
export HTTPS_PROXY
export NO_PROXY
export http_proxy
export https_proxy
export no_proxy
