# .dockerignore file for DAOS.

# Firstly deny everything and then allow only directories and files that we're
# interested in.  Other files will not be required for the build and they
# just generate noise and extra work for docker.
*
!src
!utils/build.config
!utils/*.patch
!utils/certs
!utils/ci
!utils/completion
!utils/config
!utils/node_local_test.py
!utils/nlt_server.yaml
!utils/setup_daos_server_helper.sh
!utils/sl/setup_local.sh
!utils/scripts
!utils/rpms
!utils/run_utest.py
!utils/utest.yaml
!utils/unit
!SConstruct
!VERSION
!LICENSE
!ftest.sh
!site_scons
!.clang-format
!requirements-build.txt
!requirements-utest.txt
!requirements-ftest.txt

# Now disallow extra files which may be present but are not required.
# Include the rdb repo as well.
**/.git

# Build and test output, in case tree has been used outside docker
dnt*.xml
daos.conf
build
install
.build_vars.json
.build_vars.sh
config.log
.sconf_temp
.sconsign.dblite
.daos_server.active.yml
autodocs
venv

# Test log files.
dnt*
nlt*

# Any local downloads
**/*.tar.gz
**/*.tgz
**/*.bz2

# Any compiled python code
**/*.pyc
**/__pycache__

# Editor temporary save files.
**/*~
**/*.orig
**/*.rej
**/#*#
