# Local .terraform directories
**/.terraform/
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore Terraform lock files
.terraform.lock.hcl

# Ignore Terraform plan file
tfplan

# Ignore Terraform vars files to avoid leaking information
terraform.tfvars

# Ignore other files
id_rsa*
hosts*
*.flag
keys.txt
