autodocs/
cci.ini
.gitreview
.build_vars-*.sh
.build_vars-*.json
config-*.log
/build/
/_build.external-*/
.sconsign-*.dblite
/.sconf-temp-*/
*.tar.gz
/install/
cart-*.conf
__pycache__
*~
*.BAK
.*.swp
\#*#
/valgrind_results/
pylint.log
.checkpatch-camelcase.git.
tags
*.code-workspace
utils/rpms/_topdir/