sudo: required

env:
 matrix:
  - DOCKER_IMAGE=ubuntu.20.04
  - DOCKER_IMAGE=centos.7

language: c

language: java
jdk: openjdk8

services:
 - docker

before_install:
 - echo $DOCKER_IMAGE
 - git submodule init
 - git submodule update
 - docker pull ${DOCKER_IMAGE/./:}

script:
 - docker build -f utils/docker/Dockerfile.$DOCKER_IMAGE -t daos/$DOCKER_IMAGE --build-arg NOBUILD=1 --build-arg UID=$UID .
 - docker run -v $PWD:/home/daos/daos:z daos/$DOCKER_IMAGE /bin/bash -c "scons --build-deps=yes install"
 - if [ $? == "0" ]; then
        docker run -v $PWD:/home/daos/daos:z daos/$DOCKER_IMAGE /bin/bash -c "cd src/client/java && mvn clean install -DskipITs -Ddaos.install.path=/home/daos/daos/install";
   else
        echo "ignore Java build due to DAOS build exit code, $?";
   fi
