language: c
dist: trusty
sudo: false
compiler:
- clang
- gcc
before_install:
- sudo apt-get -qq update
- sudo apt-get install -y pandoc uuid-dev libcmocka-dev doxygen
- sudo apt-get install -y libevent-dev libboost-dev
- sudo apt-get install -y librdmacm-dev libibverbs-dev
script:
- scons --build-deps=yes
