# Project Information
site_name: DAOS v1.2
site_description: Distributed Asynchronous Object Storage
site_author: DAOS Project
site_url: http://daos.io
site_dir: ../site

# Repository
repo_name: daos-stack/daos
repo_url: https://github.com/daos-stack/daos
edit_url: ""

# Theme
theme:
    name: 'material'
    font:
        text: 'Ubuntu'
        code: 'Ubuntu Mono'
    language: en
    palette:
        primary: 'blue grey'
        accent: 'blue'
    feature:
        tabs: true

docs_dir: doc

markdown_extensions:
    - admonition
    - footnotes
    - toc:
        permalink: true

# Page tree
nav:
    - Home: 'index.md'
    - Architecture Overview:
        - 'Terminology': 'overview/terminology.md'
        - 'Architecture': 'overview/architecture.md'
        - 'Storage Model': 'overview/storage.md'
        - 'Transaction Model': 'overview/transaction.md'
        - 'Fault Model': 'overview/fault.md'
        - 'Security Model': 'overview/security.md'
    - Installation and Setup:
        - 'CentOS Setup': 'QSG/setup.md'
        - 'openSUSE Setup': 'QSG/suse_setup.md'
        - 'Admin/Client Tools': 'QSG/tour.md'
        - 'Test and Benchmarking': 'QSG/test_index.md'
        - 'IO500 Setup': 'https://wiki.hpdd.intel.com/display/DC/DAOS+IO-500+Instructions'
    - Administration Guide:
        - 'Hardware Requirements': 'admin/hardware.md'
        - 'Software Installation': 'admin/installation.md'
        - 'Pre-deployment Checklist': 'admin/predeployment_check.md'
        - 'System Deployment': 'admin/deployment.md'
        - 'System Administration': 'admin/administration.md'
        - 'Pool Operations': 'admin/pool_operations.md'
        - 'Tiering and Unified Namespace': 'admin/tiering_uns.md'
        - 'Performance Tuning': 'admin/performance_tuning.md'
        - 'Troubleshooting': 'admin/troubleshooting.md'
        - 'Utilities and Usage Examples': 'admin/utilities_examples.md'
        - 'Environment Variables': 'admin/env_variables.md'
    - User Guide:
        - 'Container Management': 'user/container.md'
        - 'Native Programming Interface': 'user/interface.md'
        - 'POSIX Namespace': 'user/posix.md'
        - 'MPI-IO Support': 'user/mpi-io.md'
        - 'HDF5 Support': 'user/hdf5.md'
        - 'Spark and Hadoop': 'user/spark.md'
    - Test and Benchmarking:
        - 'Run DAOS Autotest': 'QSG/autotest.md'
        - 'Run CaRT Self_test': 'QSG/cartselftest.md'
        - 'Run IOR': 'QSG/runior.md'
        - 'Run mdtest': 'QSG/mdtest.md'
        - 'Run dbench': 'QSG/dbench.md'
        - 'Datamover test': 'QSG/datamover.md'
    - Releases:
        - 'Release Notes v1.2': 'release/release_notes_v1_2.md'
        - 'Support Matrix': 'release/support_matrix.md'
    - Developer Zone:
        - 'Dev Environment': 'dev/development.md'
        - 'Contributing': 'dev/contributing.md'
        - 'DAOS Internals': 'https://github.com/daos-stack/daos/blob/master/src/README.md'
        - 'DAOS API Documentation': 'html/index.html'
    - Community Wiki: 'https://wiki.hpdd.intel.com'
    - Roadmap: 'https://wiki.hpdd.intel.com/display/DC/Roadmap/'
    - Mailing list: 'https://daos.groups.io/g/daos'
    - Issue tracker: 'https://jira.hpdd.intel.com/projects/DAOS'
