# Project Information
site_name: DAOS v1.2
site_description: Distributed Asynchronous Object Storage
site_author: DAOS Project
site_url: https://docs.daos.io/

# Repository
repo_name: daos-stack/daos
repo_url: https://github.com/daos-stack/daos
edit_uri: blob/release/1.2/docs/
copyright: Copyright &copy; 2016 - 2022 Intel Corporation

# Theme
theme:
    name: 'material'
    logo: daos_logo_wh.png
    favicon: daos_logo_wh.png
    font:
        text: 'Ubuntu'
        code: 'Ubuntu Mono'
    language: en
    palette:
        primary: light blue
        accent: blue
        scheme: default
    features:
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.instant

extra:
    homepage: https://docs.daos.io/
    version:
        provider: mike

plugins:
    - mike:
        version_selector: true

docs_dir: ./docs

markdown_extensions:
    - admonition
    - footnotes
    - toc:
        permalink: true
        toc_depth: 4

# Page tree
nav:
    - Intro:
        - 'Home': 'index.md'
        - 'Community Wiki': 'https://wiki.daos.io/'
        - 'Community Roadmap': 'https://wiki.daos.io/spaces/DC/pages/4836661105/Roadmap'
        - 'Community Mailing list': 'https://daos.groups.io/g/daos'
        - 'Issue tracker': 'https://jira.daos.io/'
    - Release Information:
        - 'Release Notes v1.2': 'release/release_notes.md'
        - 'Support Matrix v1.2': 'release/support_matrix.md'
    - Overview:
        - 'Terminology': 'overview/terminology.md'
        - 'Architecture': 'overview/architecture.md'
        - 'Storage Model': 'overview/storage.md'
        - 'Transaction Model': 'overview/transaction.md'
        - 'Fault Model': 'overview/fault.md'
        - 'Security Model': 'overview/security.md'
    - Installation and Setup:
        - 'CentOS Setup': 'QSG/setup.md'
        - 'openSUSE Setup': 'QSG/suse_setup.md'
        - 'Admin/Client Tools': 'QSG/tour.md'
        - 'Test and Benchmarking': 'QSG/test_index.md'
        - 'IO500 Setup': 'https://daosio.atlassian.net/wiki/spaces/DC/pages/4873388103/DAOS+IO-500+Instructions'
    - Administration Guide:
        - 'Hardware Requirements': 'admin/hardware.md'
        - 'Software Installation': 'admin/installation.md'
        - 'Pre-deployment Checklist': 'admin/predeployment_check.md'
        - 'System Deployment': 'admin/deployment.md'
        - 'System Administration': 'admin/administration.md'
        - 'Pool Operations': 'admin/pool_operations.md'
        - 'Tiering and Unified Namespace': 'admin/tiering_uns.md'
        - 'Performance Tuning': 'admin/performance_tuning.md'
        - 'Troubleshooting': 'admin/troubleshooting.md'
        - 'Utilities and Usage Examples': 'admin/utilities_examples.md'
        - 'Environment Variables': 'admin/env_variables.md'
    - User Guide:
        - 'Container Management': 'user/container.md'
        - 'Native Programming Interface': 'user/interface.md'
        - 'POSIX Namespace': 'user/posix.md'
        - 'MPI-IO Support': 'user/mpi-io.md'
        - 'HDF5 Support': 'user/hdf5.md'
        - 'Spark and Hadoop': 'user/spark.md'
    - Test and Benchmarking:
        - 'Run DAOS Autotest': 'QSG/autotest.md'
        - 'Run CaRT Self_test': 'QSG/cartselftest.md'
        - 'Run IOR': 'QSG/runior.md'
        - 'Run mdtest': 'QSG/mdtest.md'
        - 'Run dbench': 'QSG/dbench.md'
        - 'Datamover test': 'QSG/datamover.md'
    - Developer Zone:
        - 'Dev Environment': 'dev/development.md'
        - 'Contributing': 'dev/contributing.md'
        - 'DAOS Internals': 'https://github.com/daos-stack/daos/blob/release/1.2/src/README.md'
        - 'DAOS API Documentation': 'https://docs.daos.io/v1.2/doxygen/html/index.html'
        # Attention: Don't change that doxygen path to a relative path, or mkdocs will stumble...
