# Project Information
site_name: DAOS v2.5 - master
site_description: Distributed Asynchronous Object Storage
site_author: DAOS Project

# Repository
repo_name: daos-stack/daos
repo_url: https://github.com/daos-stack/daos
# edit_uri: blob/release/2.6/docs/
edit_uri: blob/master/docs/
copyright: Copyright 2016-2023 Intel Corporation

# Theme
theme:
  name: 'material'
  logo: daos_logo_wh.png
  favicon: daos_logo_wh.png
  font:
    text: Ubuntu
    code: Roboto Mono
  language: en
  palette:
    primary: light blue
    accent: blue
    scheme: default
  include_search_page: false
  search_index_only: true
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.top
    - navigation.indexes
    - toc.integrate
    - search.suggest
    - search.highlight

extra:
  homepage: https://docs.daos.io/
  version:
    provider: mike

plugins:
  - search
  - mike:
      version_selector: true

markdown_extensions:
  - admonition
  - footnotes
  - tables
  - toc:
      permalink: true
      toc_depth: 4

# Page tree
nav:
  - Intro:
      - 'index.md'
      - 'Community Wiki': 'https://wiki.daos.io/'
      - 'Community Roadmap': 'https://wiki.daos.io/spaces/DC/pages/4836661105/Roadmap'
      - 'Community Mailing list': 'https://daos.groups.io/g/daos'
      - 'DAOS in the Cloud': 'cloud/index.md'
      - 'Issue tracker': 'https://jira.daos.io/'
  - Release Information:
      - 'Release Notes v2.5': 'release/release_notes.md'
      - 'Support Matrix v2.5': 'release/support_matrix.md'
      - 'Upgrading to v2.5': 'release/upgrading.md'
      - 'Roadmap': 'https://wiki.daos.io/spaces/DC/pages/4836661105/Roadmap'
  - Overview:
      - 'Architecture': 'overview/architecture.md'
      - 'Storage Model': 'overview/storage.md'
      - 'Transaction Model': 'overview/transaction.md'
      - 'Data Integrity': 'overview/data_integrity.md'
      - 'Fault Model': 'overview/fault.md'
      - 'Security Model': 'overview/security.md'
      - 'Use Cases': 'overview/use_cases.md'
      - 'Terminology': 'overview/terminology.md'
  - Installation and Setup:
      - 'RHEL and clones': 'QSG/setup_rhel.md'
      - 'SUSE': 'QSG/setup_suse.md'
      - 'DAOS in Docker': 'QSG/docker.md'
      - 'DAOS in the Cloud': 'QSG/cloud.md'
      - 'Build from Scratch': 'QSG/build_from_scratch.md'
      - 'Admin/Client Tools': 'QSG/tour.md'
  - Administration Guide:
      - 'Hardware Requirements': 'admin/hardware.md'
      - 'Pre-deployment Checklist': 'admin/predeployment_check.md'
      - 'System Deployment': 'admin/deployment.md'
      - 'System Administration': 'admin/administration.md'
      - 'Pool Operations': 'admin/pool_operations.md'
      - 'Tiering and Unified Namespace': 'admin/tiering_uns.md'
      - 'Performance Tuning': 'admin/performance_tuning.md'
      - 'Troubleshooting': 'admin/troubleshooting.md'
      - 'Environment Variables': 'admin/env_variables.md'
  - Test and Benchmarking:
      - 'Run DAOS Autotest': 'testing/autotest.md'
      - 'Run IOR and mdtest': 'testing/ior.md'
      - 'Run dbench': 'testing/dbench.md'
      - 'Run Datamover test': 'testing/datamover.md'
      - 'Run IO500': 'https://wiki.daos.io/spaces/DC/pages/4873388103/DAOS+IO-500+Instructions'
  - User Guide:
      - 'Workflow': 'user/workflow.md'
      - 'Container Management': 'user/container.md'
      - 'File System': 'user/filesystem.md'
      - 'Block Device': 'user/blockdev.md'
      - 'MPI-IO Support': 'user/mpi-io.md'
      - 'HDF5 Support': 'user/hdf5.md'
      - 'Python Support': 'user/python.md'
      - 'Spark and Hadoop': 'user/spark.md'
      - 'Data Mover': 'user/datamover.md'
      - 'Tensorflow-IO Support': 'user/tensorflow.md'
      - 'Native Programming Interface': 'user/interface.md'
  - Developer Zone:
      - 'Dev Environment': 'dev/development.md'
      - 'Contributing': 'dev/contributing.md'
      - 'DAOS Internals': 'https://github.com/daos-stack/daos/blob/master/src/README.md'
      - 'DAOS API Documentation': 'https://docs.daos.io/v2.5/doxygen/html/index.html'
      # Attention: Don't change that doxygen path to a relative path, or mkdocs will stumble...
