# Copyright 2021-2023 Intel Corporation
# All rights reserved.
#
# This is a simple example of the daos_server service configuration file.  For the detailed
# information about this configuration file, refer to the official example available at
# https://github.com/daos-stack/daos/blob/master/utils/config/daos_server.yml

name: daos_server
access_points: ['localhost']
port: 10001

provider: ofi+tcp;ofi_rxm
socket_dir: /var/run/daos_server
disable_vfio: true

transport_config:
  allow_insecure: false
  client_cert_dir: /etc/daos/certs/clients
  ca_cert: /etc/daos/certs/daosCA.crt
  cert: /etc/daos/certs/server.crt
  key: /etc/daos/certs/server.key

helper_log_file: /tmp/daos_server_helper.log
control_log_file: /tmp/daos_server.log
control_log_mask: INFO
control_metadata:
  path: /var/db/daos_server

engines:
  - pinned_numa_node: 0
    targets: 16
    nr_xs_helpers: 4
    fabric_iface: "eth0"
    fabric_iface_port: 31416
    log_file: /tmp/daos_engine-0.log
    log_mask: INFO
    storage:
      - class: ram
        scm_mount: /mnt/daos0
        scm_size: 64
      - class: nvme
        bdev_list: ['0000:41:00.0', '0000:42:00.0', '0000:43:00.0', '0000:44:00.0']
        bdev_roles:
          - data
      - class: nvme
        bdev_list: ['0000:45:00.0']
        bdev_roles:
          - meta
          - wal

  - pinned_numa_node: 1
    targets: 16
    nr_xs_helpers: 4
    fabric_iface: "eth1"
    fabric_iface_port: 32416
    log_file: /tmp/daos_engine-1.log
    log_mask: INFO
    storage:
      - class: ram
        scm_mount: /mnt/daos1
        scm_size: 64
      - class: nvme
        bdev_list: ['0000:81:00.0', '0000:82:00.0', '0000:83:00.0', '0000:84:00.0']
        bdev_roles:
          - data
      - class: nvme
        bdev_list: ['0000:85:00.0']
        bdev_roles:
          - meta
          - wal
