# Install dependencies of a development node

- name: Install rpms missing development dependencies
  remote_user: root
  dnf:
    state: latest
    update_cache: true
    name: "{{ daos_base_deps.rpms + daos_dev_deps.rpms }}"
