# This file defines the dependencies for the Go language control plane code.
# In general we pin to a minor version or release branch, with the assumption
# that backwards compatibility won't be broken in a patch release.

# Running "dep ensure" will pull the latest versions that satisfy the
# constraints outlined here, and put them into the vendor directory.

[prune]
  go-tests = true
  unused-packages = true

# ishell: MIT License used for the frontend shell interface for Go components.
# This is our ishell fork - we control the accepted patches.
[[constraint]]
  name = "github.com/daos-stack/ishell"
  branch = "master"

# protobuf: 3 Clause BSD Licensed and provides go GRPC compiler support
[[constraint]]
  name = "github.com/golang/protobuf"
  version = "~1.2.0"

# go-flags: 3 Clause BSD used for command line parsing with ishell.
[[constraint]]
  name = "github.com/jessevdk/go-flags"
  version = "~1.4.0"

# go.uuid: MIT Licensed and used for UUID generation in Go components
[[constraint]]
  name = "github.com/satori/go.uuid"
# API-breaking changes have gone in since v1.2.0.
# Uncomment with appropriate version number and remove
# revision hash when the maintainer tags a new version.
#  version = "~2.0.0"
  revision = "36e9d2ebbde5e3f13ab2e25625fd453271d6522e"

# net: 3 Clause BSD Licensed
[[constraint]]
  branch = "release-branch.go1.10"
  name = "golang.org/x/net"

# sys: 3 Clause BSD Licensed
[[constraint]]
  branch = "release-branch.go1.11"
  name = "golang.org/x/sys"

# grpc: Apache 2.0 used as communication channel between Go components.
[[constraint]]
  name = "google.golang.org/grpc"
  version = "~1.15.0"

# go-yaml: Apache 2.0 used for configuration file support.
[[constraint]]
  name = "gopkg.in/yaml.v2"
  version = "2.2.1"

# go-ipmctl: bindings to interact with libipmctl.so to manage SCM modules
# maintained within daos-stack
# pin with commit hash rather than just tip of master until tags exist.
[[constraint]]
  name = "github.com/daos-stack/go-ipmctl"
  revision = "a7817b402241a6b9a70628e7eb6c07d4e2345be8"

# go-spdk: bindings to interact with libspdk.so to manage NVMe SSDs
# maintained within daos-stack
# pin with commit hash rather than just tip of master until tags exist.
[[constraint]]
  name = "github.com/daos-stack/go-spdk"
  revision = "6756cd10c5c773de2b0c7aa99eb891a5bacf9e6a"

# go-bytesize: BSD 3-Clause, handle conversion from human readable size
# strings to bytes.
[[constraint]]
  branch = "master"
  name = "github.com/inhies/go-bytesize"
