# This file defines the dependencies for the Go language control plane code.
# In general we pin to a minor version or release branch, with the assumption
# that backwards compatibility won't be broken in a patch release.

# Running "dep ensure" will pull the latest versions that satisfy the
# constraints outlined here, and put them into the vendor directory.

[prune]
  go-tests = true
  unused-packages = true

# protobuf: 3 Clause BSD Licensed and provides go GRPC compiler support
[[constraint]]
  name = "github.com/golang/protobuf"
  version = "~1.3.2"

# go-flags: 3 Clause BSD used for command line parsing with ishell.
[[constraint]]
  name = "github.com/jessevdk/go-flags"
  version = "~1.4.0"

# uuid: 3 Clause BSD used for generating UUIDs.
[[constraint]]
  name = "github.com/google/uuid"
  version = "~1.1.1"

# net: 3 Clause BSD Licensed
[[constraint]]
  branch = "release-branch.go1.10"
  name = "golang.org/x/net"

# sys: 3 Clause BSD Licensed
[[constraint]]
  branch = "release-branch.go1.11"
  name = "golang.org/x/sys"

# grpc: Apache 2.0 used as communication channel between Go components.
[[constraint]]
  name = "google.golang.org/grpc"
  version = "~1.15.0"

# go-yaml: Apache 2.0 used for configuration file support.
[[constraint]]
  name = "gopkg.in/yaml.v2"
  version = "2.2.1"

# go-cmp: BSD 3-Clause, allows comparison of complex structures in
# tests
[[constraint]]
  name = "github.com/google/go-cmp"
  version = "~0.3.1"

# go-humanize: MIT, used for parsing and displaying string representations
# of various numbers (sizes, times, etc.)
[[constraint]]
  name = "gopkg.in/dustin/go-humanize.v1"
  version = "~1.0.0"
