# Ansible scripts for deploying a DAOS development node
# yamllint disable rule:line-length

- name: Install dependency packages
  include_tasks: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution | replace(' ', '_') }}{{ ansible_distribution_major_version}}/servers_dependencies.yml"

- name: Copy bash script setup-server_entries.sh
  become: true
  copy:
    src: file/setup-server_entries.sh
    dest: /root/setup-server_entries.sh
    owner: root
    group: root
    mode: '0600'

- name: Create DAOS server entries
  become: true
  command: /bin/bash /root/setup-server_entries.sh

- name: Copy bash script setup-nofile.sh
  become: true
  copy:
    src: file/setup-nofile.sh
    dest: /root/setup-nofile.sh
    owner: root
    group: root
    mode: '0600'

- name: Configure Number of Open Files
  become: true
  command: /bin/bash /root/setup-nofile.sh

- name: Copy bash script setup-huge_pages.sh
  become: true
  copy:
    src: file/setup-huge_pages.sh
    dest: /root/setup-huge_pages.sh
    owner: root
    group: root
    mode: '0600'

- name: Configure Huge Pages
  become: true
  command: "/bin/bash /root/setup-huge_pages.sh {{ daos_hugepages_nb | default(daos_hugepages_nb_default) }}"

- name: Copy bash script setup-memlock.sh
  become: true
  copy:
    src: file/setup-memlock.sh
    dest: /root/setup-memlock.sh
    owner: root
    group: root
    mode: '0600'

- name: Configure Memory Lock limits
  become: true
  command: /bin/bash /root/setup-memlock.sh

- name: Update systemd service for daos-server
  become: true
  template:
    src: daos_server.service.j2
    dest: /usr/lib/systemd/system/daos_server.service
    owner: root
    group: root
    mode: '0644'
    backup: true

- name: Create base DAOS configuration file tree
  become: true
  file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0755
  loop:
    - /etc/daos
    - /etc/daos/certs

- name: Create client certificate daos-server configuration file tree
  become: true
  file:
    path: /etc/daos/certs/clients
    state: directory
    owner: daos_server
    group: daos_server
    mode: 0700

- name: Create DAOS SCM mount points
  become: true
  file:
    path: "/mnt/daos{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0755
  loop: "{{ range(0, 4, 1) | list + [''] }}"
