# Ansible scripts for deploying a DAOS development node
# yamllint disable rule:line-length

- name: Checking required variables
  fail:
    msg: "Variable '{{ item }}' is not defined"
  when: item not in vars
  loop:
    - daos_source_dir
    - daos_build_dir
    - daos_launch_username

- name: Copy bash script setup-dev_entries.sh
  become: true
  copy:
    src: file/setup-dev_entries.sh
    dest: /root/setup-dev_entries.sh
    owner: root
    group: root
    mode: '0600'

- name: Add DAOS launch user {{ daos_launch_username }}
  become: true
  command: "/bin/bash /root/setup-dev_entries.sh {{ daos_launch_username }}"

- name: Copy bash script setup-server_entries.sh
  become: true
  copy:
    src: file/setup-server_entries.sh
    dest: /root/setup-server_entries.sh
    owner: root
    group: root
    mode: '0600'

- name: Create DAOS server entries
  become: true
  command: /bin/bash /root/setup-server_entries.sh

- name: Client DAOS configuration
  import_tasks: daos_clients.yml

- name: Create DAOS runtime directory
  file:
    path: "{{ daos_runtime_dir }}"
    state: directory
    mode: '0755'

- name: Install dependencies packages
  include_tasks: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution | replace(' ', '_') }}{{ ansible_distribution_major_version}}/devs_dependencies.yml"

- name: Install DAOS make helper script
  template:
    src: daos-make.sh.j2
    mode: '0755'
    dest: "{{ daos_runtime_dir }}/daos-make.sh"

- name: Install DAOS launch helper script
  template:
    src: daos-launch.sh.j2
    mode: '0755'
    dest: "{{ daos_runtime_dir }}/daos-launch.sh"

- name: Install DAOS NLT launch helper script
  template:
    src: daos-launch_nlt.sh.j2
    mode: '0755'
    dest: "{{ daos_runtime_dir }}/daos-launch_nlt.sh"
