# Ansible scripts for configuring a DAOS node with ftest
# yamllint disable rule:line-length

- name: Gather distribution specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ playbook_dir }}/vars/{{ ansible_distribution | replace(' ', '_') }}{{ ansible_distribution_major_version }}.yml"

- name: Configure http proxy
  become: true
  when: daos_http_proxy is defined
  block:
    - name: "Configuring http proxy PAM environment"
      lineinfile:
        path: /etc/environment
        regexp: "^{{ item }}="
        line: "{{ item }}={{ daos_http_proxy }}"
      loop_control:
        label: "Setting environment variable {{ item }}"
      loop:
        - HTTP_PROXY
        - HTTPS_PROXY
        - http_proxy
        - https_proxy

    - name: "Configuring no http proxy PAM environment"
      lineinfile:
        path: /etc/environment
        regexp: "^{{ item }}="
        line: "{{ item }}=localhost,127.0.0.1"
      loop_control:
        label: "Setting environment variable {{ item }}"
      loop:
        - NO_PROXY
        - no_proxy

    - name: "Configuring shell environment"
      template:
        src: proxy.sh.j2
        dest: /etc/profile.d/proxy.sh
        owner: root
        group: root
        mode: '0644'
        backup: true

- name: Set includedir in sudoers
  become: true
  lineinfile:
    state: present
    create: false
    dest: /etc/sudoers
    line: "#includedir /etc/sudoers.d"
    validate: /usr/sbin/visudo -cf %s

- name: "Add user {{ ansible_user_id }} to sudo"
  become: true
  lineinfile:
    state: present
    create: true
    owner: root
    group: root
    path: "/etc/sudoers.d/{{ ansible_user_id }}"
    line: "{{ ansible_user_id }} ALL=(ALL) NOPASSWD: ALL"
    mode: 0440
    validate: /usr/sbin/visudo -cf %s

- name: Copy bash script setup-coredumps.sh
  become: true
  copy:
    src: file/setup-coredumps.sh
    dest: /root/setup-coredumps.sh
    owner: root
    group: root
    mode: '0600'

- name: Enable CORE dump
  become: true
  command: /bin/bash /root/setup-coredumps.sh

- name: Install Base Dependencies
  include_tasks: "{{ item }}"
  with_first_found:
    - "{{ ansible_distribution | replace(' ', '_') }}{{ ansible_distribution_major_version}}/base_dependencies.yml"
