# pip requirements file for the DAOS ftest Ansible playbook.
#
# Install with:
#   pip install --user --requirement requirements.txt
#   ansible-galaxy collection install --upgrade community.general ansible.posix

# Ansible
ansible

# Linting
ansible-lint
yamllint

# Molecule and Docker driver for unit tests
molecule
molecule-plugins[docker]
