project_id         = "<project_id>"
network            = "default"
subnetwork         = "default"
subnetwork_project = "<project_id>"
region             = "us-central1"
zone               = "us-central1-f"

labels = {
  example = "daos_client_mig_example"
}

number_of_instances = 2
instance_base_name  = "daos-client"
os_disk_size_gb     = 20
os_disk_type        = "pd-ssd"
template_name       = "daos-client"
mig_name            = "daos-client"
machine_type        = "c2-standard-16"

# the image must be built before (see build folder)
os_project = "<project_id>"
os_family  = "daos-client-hpc-centos-7"

# List of DAOS server instances
access_points = ["daos-server-0001","daos-server-0002"]
