#
# DAOS manager (dmg) configuration file
#

hostlist: ${jsonencode(servers)}

transport_config:
  allow_insecure: ${allow_insecure}
  %{ if !allow_insecure }
  ca_cert: /etc/daos/certs/daosCA.crt
  cert: /etc/daos/certs/admin.crt
  key: /etc/daos/certs/admin.key
  %{ endif }
