#
# DAOS agent configuration file
#

# Management server access points
# Must have the same value for all agents and servers in a system.
access_points: ${jsonencode(access_points)}

transport_config:
  allow_insecure: true
