Source: daos
Section: net
Priority: optional
Maintainer: daos-stack <daos@daos.groups.io>
Build-Depends: debhelper (>= 10),
               dh-python,
               libcmocka-dev,
               libfabric-dev (>= 1.15.1-1),
               libhwloc-dev,
               libopenmpi-dev,
               libssl-dev,
               libyaml-dev,
               libmercury-dev (>= 2.4),
               scons,
               uuid-dev,
               pkg-config,
               python3-dev,
               python3-distro,
               libabt-dev (>= 1.2),
               libfused-dev,
               libprotobuf-c-dev,
               libjson-c-dev,
               libisal-crypto-dev,
               libisal-dev,
               libcunit1-dev,
               golang-go (>= 2:1.21),
               libboost-dev,
               python3-tabulate,
               liblz4-dev,
               libaio-dev,
               libcapstone-dev,
               libpci-dev,
               libasan5
Standards-Version: 4.1.2
Homepage: https://docs.daos.io/
Vcs-Git: https://github.com/daos-stack/daos.git
Vcs-Browser: https://github.com/daos-stack/daos.git

Package: daos
Section: net
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, openmpi-bin
Description: The Distributed Asynchronous Object Storage (DAOS) is an open-source
 software-defined object store designed from the ground up for
 massively distributed Non Volatile Memory (NVM). DAOS takes advantage
 of next generation NVM technology like Storage Class Memory (SCM) and
 NVM express (NVMe) while presenting a key-value storage interface and
 providing features such as transactional non-blocking I/O, advanced
 data protection with self healing on top of commodity hardware, end-
 to-end data integrity, fine grained data control and elastic storage
 to optimize performance and cost.
 .
 This package contains the common components.

Package: libdaos-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Description: The Distributed Asynchronous Object Storage (DAOS) is an open-source
 software-defined object store designed from the ground up for
 massively distributed Non Volatile Memory (NVM). DAOS takes advantage
 of next generation NVM technology like Storage Class Memory (SCM) and
 NVM express (NVMe) while presenting a key-value storage interface and
 providing features such as transactional non-blocking I/O, advanced
 data protection with self healing on top of commodity hardware, end-
 to-end data integrity, fine grained data control and elastic storage
 to optimize performance and cost.
 .
 This package is needed to compile programs against libdaos.
 It contains the header files and links needed for compiling.


Package: libdaos0
Section: libs
Architecture: any
Multi-Arch: same
Depends: libmercury1, libyaml-0-2, libuuid1,
         ${shlibs:Depends}, ${misc:Depends}
Description: The Distributed Asynchronous Object Storage (DAOS) is an open-source
 software-defined object store designed from the ground up for
 massively distributed Non Volatile Memory (NVM). DAOS takes advantage
 of next generation NVM technology like Storage Class Memory (SCM) and
 NVM express (NVMe) while presenting a key-value storage interface and
 providing features such as transactional non-blocking I/O, advanced
 data protection with self healing on top of commodity hardware, end-
 to-end data integrity, fine grained data control and elastic storage
 to optimize performance and cost.
 .
 This package contains the shared libraries.

Package: daos-tests
Architecture: any
Multi-Arch: same
Depends: daos-client-tests (= ${binary:Version})
Description: This is the package is a metapackage to install all of the test packages
 .
 This package contains tests

Package: daos-tests-internal
Architecture: any
Multi-Arch: same
Depends: daos-tests (= ${binary:Version}),
         daos-client-tests-openmpi (= ${binary:Version})
Description: This is the package is a metapackage to install all of the internal test packages
 .
 This package contains tests

Package: daos-client-tests
Architecture: any
Multi-Arch: same
Depends: python (>=3.8), python3, python-yaml, python3-yaml,
         ${shlibs:Depends}, ${misc:Depends},
         daos-client (= ${binary:Version}),
         daos-admin (= ${binary:Version}),
         golang-go (>= 2:1.21),
         libcapstone-dev,
         libndctl-dev,
         libdaxctl-dev
Description: The Distributed Asynchronous Object Storage (DAOS) is an open-source
 software-defined object store designed from the ground up for
 massively distributed Non Volatile Memory (NVM). DAOS takes advantage
 of next generation NVM technology like Storage Class Memory (SCM) and
 NVM express (NVMe) while presenting a key-value storage interface and
 providing features such as transactional non-blocking I/O, advanced
 data protection with self healing on top of commodity hardware, end-
 to-end data integrity, fine grained data control and elastic storage
 to optimize performance and cost.
 .
 This package contains tests

Package: daos-client-tests-openmpi
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends},
         daos-client-tests (= ${binary:Version})
Description: This is the package needed to run the DAOS test suite openmpi tools
 .
 This package contains tests

Package: daos-client
Section: net
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}, openmpi-bin, libfabric (>= 1.15.1-1)
Description: The Distributed Asynchronous Object Storage (DAOS) is an open-source
 software-defined object store designed from the ground up for
 massively distributed Non Volatile Memory (NVM). DAOS takes advantage
 of next generation NVM technology like Storage Class Memory (SCM) and
 NVM express (NVMe) while presenting a key-value storage interface and
 providing features such as transactional non-blocking I/O, advanced
 data protection with self healing on top of commodity hardware, end-
 to-end data integrity, fine grained data control and elastic storage
 to optimize performance and cost.
 .
 This package contains the DAOS client.


Package: daos-admin
Section: net
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Distributed Asynchronous Object Storage (DAOS) is an open-source
 software-defined object store designed from the ground up for
 massively distributed Non Volatile Memory (NVM). DAOS takes advantage
 of next generation NVM technology like Storage Class Memory (SCM) and
 NVM express (NVMe) while presenting a key-value storage interface and
 providing features such as transactional non-blocking I/O, advanced
 data protection with self healing on top of commodity hardware, end-
 to-end data integrity, fine grained data control and elastic storage
 to optimize performance and cost.
 .
 This package contains the DAOS administrative tools (e.g. dmg).
