# Packages needed to pylint code.  Most of these are needed for test rather than build.
# 94.0 is reporting a couple of errors so stick on 93.
avocado-framework
avocado-framework-plugin-result-html
avocado-framework-plugin-varianter-yaml-to-mux
clustershell
paramiko
pyenchant
pylint
