# file: terraform.tfvars.tco.example
#
# This file can be copied to terraform.tfvars
# Replace the values in <> brackets with the values for your deployment
#
# See variables.tf for all available variables and their default values
#

project_id                 = "<project_id>"
region                     = "<region>"
zone                       = "<zone>"

server_machine_type        = "n2-custom-36-215040"
server_daos_disk_count     = 16
server_daos_scm_size       = 180
server_number_of_instances = 4

client_number_of_instances = 16
