[Unit]
Description=DAOS Agent
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=daos_agent
RuntimeDirectory=daos_agent
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/daos_agent
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy = multi-user.target
