[Unit]
Description=DAOS Server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=daos_server
Group=daos_admins
RuntimeDirectory=daos_server
RuntimeDirectoryMode=0755
ExecStart=/usr/bin/daos_server start
StandardOutput=journal
StandardError=journal
Restart=on-failure
LimitMEMLOCK=infinity
LimitCORE=infinity

[Install]
WantedBy = multi-user.target
