[Unit]
Description=DAOS Agent
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
RuntimeDirectory=daos_agent
RuntimeDirectoryMode=0755
#Only specify if you are running out of your development Tree
#Also comment out the default ExecStart line
#ExecStart=/<path to>/install/bin/daos_agent -i
ExecStart=/usr/bin/daos_agent -i
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy = multi-user.target
