[Unit]
Description=DAOS Server
#OnFailure=<mediation services>

[Service]
Restart=always
#Environment=DAOS_PATH=/usr/lib/daos
ExecStart=/usr/bin/orterun -np 1 -c 1 --hostfile hostfile --enable-recovery --report-uri /tmp/urifile daos_server
StandardOutput=journal
StandardError=journal
