# Example configuration file using loopback and emulated storage

name: daos_server           # sys group daos_server
access_points: ['example']  # management service leader (bootstrap)
# port: 10001               # control listen port, default 10001
provider: ofi+sockets       # map to CRT_PHY_ADDR_STR=ofi+sockets
socket_dir: /tmp/daos_sockets
control_log_mask: DEBUG
control_log_file: /tmp/daos_control.log

## Transport Credentials Specifying certificates to secure communications
##
#transport_config:
#  # Specify to bypass loading certificates and use insecure communications channels
#  allow_insecure: false
#  # Location where daos_server will look for Client certificates
#  client_cert_dir: .daos/clients
#  # Custom CA Root certificate for generated certs
#  ca_cert: .daos/daosCA.crt
#  # Server certificate for use in TLS handshakes
#  cert: .daos/daos_server.crt
#  # Key portion of Server Certificate
#  key: .daos/daos_server.key

# single server instance per config file for now
servers:
-
  targets: 1                # count of storage targets per each server
  first_core: 0             # offset of the first core for service xstreams
  nr_xs_helpers: 0          # count of offload/helper xstreams per server
  fabric_iface: lo          # map to OFI_INTERFACE=lo
  log_mask: DEBUG,RPC=ERR,MEM=ERR
  log_file: /tmp/server0.log # map to D_LOG_FILE=/tmp/server0.log

  # Environment variable values should be supplied without encapsulating quotes.
  env_vars:                 # influence DAOS IO Server behavior by setting env variables
  - DAOS_MD_CAP=1024
  - CRT_CTX_SHARE_ADDR=0
  - CRT_TIMEOUT=30
  - FI_SOCKETS_MAX_CONN_RETRY=1
  - FI_SOCKETS_CONN_TIMEOUT=2000
  - DD_SUBSYS=all
  # uncomment to enable scalable endpoint
  # - CRT_CREDIT_EP_CTX=0
  # - CRT_CTX_SHARE_ADDR=1
  # - CRT_CTX_NUM=8
  # nvme options
  # - IO_STAT_PERIOD=10

  # Storage definitions

  # When scm_class is set to ram, tmpfs will be used to emulate SCM.
  # The size of ram is specified by scm_size in GB units.
  scm_mount: /mnt/daos0
  scm_class: ram
  scm_size: 1

  # When scm_class is set to dcpm, scm_list is the list of device paths for
  # AppDirect pmem namespaces (currently only one per server supported).
  # scm_class: dcpm
  # scm_list: [/dev/pmem0]

  # If using NVMe SSD (will write /mnt/daos/daos_nvme.conf and start I/O
  # server with -n <path>)
  bdev_class: nvme
  bdev_list: []

  # If emulating NVMe SSD with malloc devices
  # bdev_class: malloc	# map to VOS_BDEV_CLASS=MALLOC
  # bdev_size: 4		# malloc size of each device in GB.
  # bdev_number: 1		# generate nvme.conf as follows:
              # [Malloc]
              #   NumberOfLuns 1
              #   LunSizeInMB 4000

  # If emulating NVMe SSD over kernel block device
  # bdev_class: kdev		# map to VOS_BDEV_CLASS=AIO
  # bdev_list: [/dev/sdc]	# generate nvme.conf as follows:
              # [AIO]
              #   AIO /dev/sdc AIO2

  # If emulating NVMe SSD with backend file
  # bdev_class: file		# map to VOS_BDEV_CLASS=AIO
  # bdev_size: 16           # file size in GB. Create file if does not exist.
  # bdev_list: [/tmp/daos-bdev]	# generate nvme.conf as follows:
              # [AIO]
              #   AIO /tmp/aiofile AIO1 4096
