# Example configuration file for OPA

name: daos_server           # sys group daos_server
access_points: ['example']  # management service leader (bootstrap)
# port: 10001               # control listen port, default 10001
provider: ofi+psm2          # map to CRT_PHY_ADDR_STR=ofi+psm2
socket_dir: /tmp/daos_psm2
nr_hugepages: 4096
control_log_mask: DEBUG
control_log_file: /tmp/daos_server.log

## Transport Credentials Specifying certificates to secure communications
##
#transport_config:
#  # Specify to bypass loading certificates and use insecure communications channels
#  allow_insecure: false
#  # Location where daos_server will look for Client certificates
#  client_cert_dir: .daos/clients
#  client_cert_dir: /etc/daos/certs/clients
#  # Custom CA Root certificate for generated certs
#  ca_cert: /etc/daos/certs/daosCA.crt
#  # Server certificate for use in TLS handshakes
#  cert: /etc/daos/certs/server.crt
#  # Key portion of Server Certificate
#  key: /etc/daos/certs/server.key

engines:
-
  targets: 8                # number of I/O service threads per-engine
  first_core: 1             # offset of the first core for service threads
  nr_xs_helpers: 0          # count of I/O offload threads per engine
  fabric_iface: ib0         # map to OFI_INTERFACE=ib0
  fabric_iface_port: 31416  # map to OFI_PORT=31416
  log_mask: ERR             # map to D_LOG_MASK=ERR
  log_file: /tmp/daos_engine.0.log # map to D_LOG_FILE=/tmp/daos_engine.0.log

  # Environment variable values should be supplied without encapsulating quotes.
  env_vars:                 # influence DAOS I/O Engine behavior by setting env variables
  - CRT_TIMEOUT=30
  - CRT_CREDIT_EP_CTX=0
  - PSM2_MULTI_EP=1
  - CRT_CTX_SHARE_ADDR=1
  - FI_PSM2_DISCONNECT=1

  # Storage definitions
  scm_mount: /mnt/daos0

  # When scm_class is set to ram, tmpfs will be used to emulate SCM.
  # The size of ram is specified by scm_size in GB units.
  # scm_class: ram
  # scm_size: 6

  # When scm_class is set to dcpm, scm_list is the list of device paths for
  # PMem namespaces (currently only one per engine supported).
  scm_class: dcpm
  scm_list: [/dev/pmem0]

  # If using NVMe SSD (will write /mnt/daos/daos_nvme.conf and start I/O
  # engine with -n <path>).
  bdev_class: nvme
  bdev_list: ["0000:81:00.0"]  # generate regular nvme.conf

  # If emulating NVMe SSD with malloc devices.
  # bdev_class: malloc          # map to VOS_BDEV_CLASS=MALLOC
  # bdev_size: 4                # malloc size of each device in GB.
  # bdev_number: 1              # generate nvme.conf as follows:
              # [Malloc]
              #   NumberOfLuns 1
              #   LunSizeInMB 4000

  # If emulating NVMe SSD over kernel block device.
  # bdev_class: kdev            # map to VOS_BDEV_CLASS=AIO
  # bdev_list: [/dev/sdc]       # generate nvme.conf as follows:
              # [AIO]
              #   AIO /dev/sdc AIO2

  # When bdev_class is set to file, Linux AIO will be used to emulate NVMe.
  # The size of file that will be created is specified by bdev_size in GB units.
  # The location of the files that will be created is specified in bdev_list.
  # bdev_class: file            # map to VOS_BDEV_CLASS=AIO
  # bdev_size: 16               # file size in GB. Create file if does not exist.
  # bdev_list: [/tmp/daos-bdev] # generate nvme.conf as follows:
              # [AIO]
              #   AIO /tmp/aiofile AIO1 4096
-
  targets: 8                # number of I/O service threads per-engine
  first_core: 25            # offset of the first core for service threads
  nr_xs_helpers: 0          # count of I/O offload threads per engine
  fabric_iface: ib1         # map to OFI_INTERFACE=ib0
  fabric_iface_port: 31416  # OFI_PORT same as engine 0, different iface
  log_mask: ERR             # map to D_LOG_MASK=ERR
  log_file: /tmp/daos_engine.1.log # map to D_LOG_FILE=/tmp/daos_engine.1.log

  env_vars:                 # influence DAOS I/O Engine behavior by setting env variables
  - CRT_TIMEOUT=30
  - CRT_CREDIT_EP_CTX=0
  - PSM2_MULTI_EP=1
  - CRT_CTX_SHARE_ADDR=1
  - FI_PSM2_DISCONNECT=1

  scm_mount: /mnt/daos1
  scm_class: dcpm
  scm_list: [/dev/pmem1]

  bdev_class: nvme
  bdev_list: ["0000:82:00.0"]  # generate regular nvme.conf
