# Example configuration file using loopback and emulated storage

name: daos_server           # sys group daos_server
access_points: ['example']  # management service leader (bootstrap)
# port: 10001               # control listen port, default 10001
provider: ofi+tcp
control_log_mask: DEBUG
control_log_file: /tmp/daos_server.log

telemetry_port: 9191

## Transport Credentials Specifying certificates to secure communications
##
#transport_config:
#  # Specify to bypass loading certificates and use insecure communications channels
#  allow_insecure: false
#  # Location where daos_server will look for Client certificates
#  client_cert_dir: .daos/clients
#  client_cert_dir: /etc/daos/certs/clients
#  # Custom CA Root certificate for generated certs
#  ca_cert: /etc/daos/certs/daosCA.crt
#  # Server certificate for use in TLS handshakes
#  cert: /etc/daos/certs/server.crt
#  # Key portion of Server Certificate
#  key: /etc/daos/certs/server.key

engines:
-
  pinned_numa_node: 0
  targets: 1                # number of I/O service threads per-engine
  first_core: 0             # offset of the first core for service threads
  nr_xs_helpers: 0          # count of I/O offload threads per engine
  fabric_iface: lo          # map to OFI_INTERFACE=lo
  fabric_iface_port: 31316  # map to OFI_PORT=31316
  log_mask: DEBUG,RPC=ERR,MEM=ERR
  log_file: /tmp/daos_engine.0.log # map to D_LOG_FILE=/tmp/daos_engine.0.log

  # Environment variable values should be supplied without encapsulating quotes.
  env_vars:                 # influence DAOS I/O Engine behavior by setting env variables
  - DAOS_MD_CAP=1024
  - CRT_CTX_SHARE_ADDR=0
  - CRT_TIMEOUT=30
  - FI_SOCKETS_MAX_CONN_RETRY=1
  - FI_SOCKETS_CONN_TIMEOUT=2000
  - DD_SUBSYS=all
  # uncomment to enable scalable endpoint
  # - CRT_CREDIT_EP_CTX=0
  # - CRT_CTX_SHARE_ADDR=1
  # - CRT_CTX_NUM=8

  # Legacy style storage definitions (support for this style will be removed in future)

  # When scm_class is set to ram, tmpfs will be used to emulate SCM.
  # The size of ram is specified by scm_size in GB units.
  scm_class: ram
  scm_size: 8
  scm_mount: /mnt/daos

  # If no NVMe devices are specified in config file, no NVMe will be used.
  bdev_class: nvme
  bdev_list: []
  bdev_busid_range: ""
