project_id = "<my_project_id>"
network = "<my_VPC_network>"
subnetwork = "<my_VPC_subnetwork>"
subnetwork_project = "<my_project_id>"
region = "europe-west4"
zone = "europe-west4-a"
labels = {
  example="simple_daos_server_example"
}

number_of_instances = 4 # Allow 3-way replication with extra spare for rebuild
daos_disk_count = 16

instance_base_name = "daos-server"
os_disk_size_gb = 20
os_disk_type = "pd-ssd"
template_name = "daos-server" #TODO add some sort of unique postfix here
mig_name = "daos-server" #TODO add some sort of unique postfix here
machine_type = "n2-custom-20-131072" # 10x physical cores, using 8x targets

# the image must be built before (see build folder)
os_project = "<my_project_id>"
os_family = "daos-server-centos-7"



