# Bandit profile may optionally select or skip tests.
# skip B108 and B603 after security team reviewed.
tests : ['B101', 'B102', 'B103', 'B104', 'B105', 'B106', 'B107', 'B110',
         'B112', 'B201', 'B501', 'B502', 'B503', 'B504', 'B505', 'B506',
         'B601', 'B602', 'B604', 'B605', 'B606', 'B607', 'B608', 'B609',
         'B701', 'B702']
