name: Workflow

on:
   pull_request:

concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

jobs:

  Build:
    name: Build
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        distro: [centos.7]
        compiler: [gcc, clang]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Prepare base image in Docker
      run: docker build . -f utils/docker/Dockerfile.${{ matrix.distro }}
                          --build-arg DAOS_DEPS_BUILD=no
    - name: Build dependencies in Docker
      run: docker build . -f utils/docker/Dockerfile.${{ matrix.distro }}
                          --build-arg DEPS_JOBS=8 --build-arg DAOS_BUILD=no
    - name: Build DAOS in Docker image
      run: docker build . -f utils/docker/Dockerfile.${{ matrix.distro }}
                          --build-arg COMPILER=${{ matrix.compiler }}
                          --build-arg DEPS_JOBS=8 --build-arg DAOS_JAVA_BUILD=no
    - name: Build DAOS Java client in Docker image
      run: docker build . -f utils/docker/Dockerfile.${{ matrix.distro }}
                          --build-arg COMPILER=${{ matrix.compiler }}
                          --build-arg DEPS_JOBS=8
    - name: Build debug in docker
      run: docker build . --file utils/docker/Dockerfile.${{ matrix.distro }}
                          --build-arg DAOS_JAVA_BUILD=no
                          --build-arg DEPS_JOBS=8
                          --build-arg DAOS_BUILD_TYPE=debug
                          --build-arg COMPILER=${{ matrix.compiler }}
    - name: Build devel in docker
      run: docker build . --file utils/docker/Dockerfile.${{ matrix.distro }}
                          --build-arg DAOS_JAVA_BUILD=no
                          --build-arg DEPS_JOBS=8
                          --build-arg DAOS_BUILD_TYPE=dev
                          --build-arg COMPILER=${{ matrix.compiler }}

  Fedoda-Build:
    name: Fedora Build
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc, clang]
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Prepare base image in Docker
      run: docker build . -f utils/docker/Dockerfile.el.8
                          --build-arg DAOS_DEPS_BUILD=no
                          --build-arg BASE_DISTRO=fedora:34
    - name: Build dependencies in Docker
      run: docker build . -f utils/docker/Dockerfile.el.8
                          --build-arg DEPS_JOBS=8 --build-arg DAOS_BUILD=no
                          --build-arg BASE_DISTRO=fedora:34
    - name: Build DAOS in Docker image
      run: docker build . -f utils/docker/Dockerfile.el.8
                          --build-arg COMPILER=${{ matrix.compiler }}
                          --build-arg DEPS_JOBS=8 --build-arg DAOS_JAVA_BUILD=no
                          --build-arg BASE_DISTRO=fedora:34
#    - name: Build DAOS Java client in Docker image
#      run: docker build . -f utils/docker/Dockerfile.el.8
#                          --build-arg COMPILER=${{ matrix.compiler }}
#                          --build-arg DEPS_JOBS=8
#                          --build-arg BASE_DISTRO=fedora:34
    - name: Build debug in docker
      run: docker build . --file utils/docker/Dockerfile.el.8
                          --build-arg DAOS_JAVA_BUILD=no
                          --build-arg DEPS_JOBS=8
                          --build-arg DAOS_BUILD_TYPE=debug
                          --build-arg COMPILER=${{ matrix.compiler }}
                          --build-arg BASE_DISTRO=fedora:34
    - name: Build devel in docker
      run: docker build . --file utils/docker/Dockerfile.el.8
                          --build-arg DAOS_JAVA_BUILD=no
                          --build-arg DEPS_JOBS=8
                          --build-arg DAOS_BUILD_TYPE=dev
                          --build-arg COMPILER=${{ matrix.compiler }}
                          --build-arg BASE_DISTRO=fedora:34
