name: Build

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:

  # reuse the cache from the landing-builds workflow if available, if not then build the images
  # from scratch, but do not save them.
  Build-and-test:
    name: Run DAOS/NLT tests
    runs-on: ubuntu-24.04
    permissions:
      # https://github.com/EnricoMi/publish-unit-test-result-action#permissions
      checks: write
      pull-requests: write
      packages: write
    strategy:
      matrix:
        distro: [ubuntu]
        include:
          - distro: ubuntu
            base: ubuntu
            with: ubuntu:oracular
    env:
      DEPS_JOBS: 10
      COMPILER: clang
      BASE_DISTRO: ${{ matrix.with }}
      DOCKER_BASE: ${{ matrix.base }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 500
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup git hash
        run: ./ci/gha_helper.py
        id: commit-hash
      - name: Fetch docker image and update deps (with tag foo)
        uses: whoan/docker-build-with-cache-action@v8.1
        continue-on-error: false
        with:
          image_name: bc-ubuntu-oracular-f3906e4-foo # ${{ steps.commit-hash.outputs.image_name }} # daltonbohning-testimage
          image_tag: foo
          username: "${{ github.repository_owner }}"
          password: "${{ secrets.GITHUB_TOKEN }}"
          registry: ghcr.io
          push_image_and_stages: false # true
          dockerfile: utils/docker/Dockerfile.${{ matrix.distro }}
          build_extra_args: '{"--build-arg": ["DAOS_BUILD=no", "DEPS_JOBS", "BASE_DISTRO", "DAOS_KEEP_SRC=yes"], "--tag": "build-image"}'
      - name: Fetch docker image and update deps (with tag latest)
        uses: whoan/docker-build-with-cache-action@v8.1
        continue-on-error: false
        with:
          image_name: bc-ubuntu-oracular-f3906e4 # ${{ steps.commit-hash.outputs.image_name }} # daltonbohning-testimage
          image_tag: latest
          username: "${{ github.repository_owner }}"
          password: "${{ secrets.GITHUB_TOKEN }}"
          registry: ghcr.io
          push_image_and_stages: false # true
          dockerfile: utils/docker/Dockerfile.${{ matrix.distro }}
          build_extra_args: '{"--build-arg": ["DAOS_BUILD=no", "DEPS_JOBS", "BASE_DISTRO", "DAOS_KEEP_SRC=yes"], "--tag": "build-image"}'
      # - name: Build and Test
      #   run: docker run --name build-post --mount type=tmpfs,destination=/mnt/daos_0,tmpfs-mode=1777
      #         --env COMPILER --env DEPS_JOBS --user root:root build-image
      #         ./daos/utils/ci/run_in_gha.sh
