---
name: Doxygen

on:  # yamllint disable-line rule:truthy
  pull_request:
    paths:
      - 'Doxyfile'
      - 'src/include/*.h'

jobs:

  Doxygen:
    name: Run doxygen
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 100
      - name: Install doxygen
        run: sudo apt-get install doxygen
      - name: Run check
        run: ./ci/copy_doxygen_files.sh
...
