name: Doxygen

# Always run on Pull Requests as then this check can be marked as required.
on:
  pull_request:

permissions: {}

jobs:

  Doxygen:
    name: Doxygen
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install doxygen
        run: sudo apt-get install doxygen
      - name: Add parser
        run: echo -n "::add-matcher::ci/daos-doxygen-matcher.json"
      - name: Run check
        run: doxygen Doxyfile
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: API Documentation
          path: docs/doxygen/html/
          retention-days: 1
