name: Linting

# Always run on Pull Requests as then these checks can be marked as required.
on:
  push:
    branches:
      - master
      - 'feature/*'
      - 'release/*'
  pull_request:

permissions: {}

jobs:
  # Run isort on the tree.
  # This checks .py files only so misses SConstruct and SConscript files are not checked, rather
  # for these files check them afterwards.  The output-filter will not be installed for this part
  # so regressions will be detected but not annotated.
  isort:
    name: Python isort
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-python@v5
        with:
          python-version: '3'
      - uses: isort/isort-action@master
        with:
          requirementsFiles: "requirements.txt"
      - name: Run on SConstruct file.
        run: isort --check-only SConstruct
      - name: Run on build files.
        run: find . -name SConscript | xargs isort --check-only

  shell-check:
    name: ShellCheck
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Run
        run: sudo apt-get update && sudo apt-get install shellcheck
      - name: Add error parser
        run: echo -n "::add-matcher::ci/shellcheck-matcher.json"
      - name: Run Shellcheck
        # The check will run with this file from the target branch but the code from the PR so
        # test for this file before calling it to prevent failures on PRs where this check is
        # in the target branch but the PR is not updated to include it.
        run: \[ ! -x ci/run_shellcheck.sh \] || ./ci/run_shellcheck.sh

  log-check:
    name: Logging macro checking
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Check DAOS logging macro use.
        run: ./utils/cq/d_logging_check.py --github src

  ftest-tags:
    name: Ftest tag check
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Check DAOS ftest tags.
        run: \[ ! -x src/tests/ftest/tags.py \] || ./src/tests/ftest/tags.py lint

  flake8-lint:
    runs-on: ubuntu-22.04
    name: Flake8 check
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: '3'
      - name: Add parser
        run: echo -n "::add-matcher::ci/daos-flake-matcher.json"
      - name: Add whitespace parser
        run: echo -n "::add-matcher::ci/daos-flakew-matcher.json"
      - name: Add error parser
        run: echo -n "::add-matcher::ci/daos-flakee-matcher.json"
      - name: flake8 Lint
        uses: py-actions/flake8@v2
        with:
          # W503 and W504 are related as they conflict.  W503 is the preferred style and all code
          # should be using it now.
          ignore: 'W503'
          exclude: 'src/control/vendor,src/client/pydaos/raw'
          max-line-length: '100'
      - name: flake8 Lint on SCons files.
        uses: py-actions/flake8@v2
        with:
          ignore: 'F821,W503,F841'
          max-line-length: '100'
          args: '--filename */SConscript, SConstruct'

  Doxygen:
    name: Doxygen
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Install doxygen
        run: sudo apt-get install doxygen
      - name: Add parser
        run: echo -n "::add-matcher::ci/daos-doxygen-matcher.json"
      - name: Run check
        run: doxygen Doxyfile
      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: API Documentation
          path: docs/doxygen/html/
          retention-days: 1

  pylint:
    name: Pylint check
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install core python packages
        run: python3 -m pip install --requirement requirements.txt
      - name: Install extra python packages
        run: python3 -m pip install --requirement utils/cq/requirements.txt
      - name: Install enchant
        run: sudo apt-get update && sudo apt-get -y install python3-enchant
      - name: Show versions
        run: ./utils/cq/daos_pylint.py --version
      - name: Run pylint check.
        run: ./utils/cq/daos_pylint.py --git --output-format github

  Codespell:
    name: Codespell
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install extra python packages
        run: pip install --requirement utils/cq/requirements.txt
      - name: Run check
        uses: codespell-project/actions-codespell@master
        with:
          skip: ./src/control/vendor,./src/control/go.sum,./.git
          ignore_words_file: ci/codespell.ignores
          builtin: clear,rare,informal,names,en-GB_to_en-US
