name: Codespell

on:  # yamllint disable-line rule:truthy
  pull_request:

jobs:

  Spelling:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run check
        uses: codespell-project/actions-codespell@master
        with:
          skip: ./src/control/vendor,./.git
          ignore_words_file: ci/codespell.ignores
          builtin: clear,rare,informal,names,en-GB_to_en-US
