name: Codespell

on:
  pull_request:

jobs:

  Codespell:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install extra python packages
        run: pip install --requirement utils/cq/requirements.txt
      - name: Run check
        uses: codespell-project/actions-codespell@master
        with:
          skip: ./src/control/vendor,./.git,./src/control/security/testdata/certs/source.txt
          ignore_words_file: ci/codespell.ignores
          builtin: clear,rare,informal,names,en-GB_to_en-US
