name: Unit testing

on:
  pull_request:

permissions: {}

jobs:
  Build_and_unit_test:
    name: "Build and Run Unit Tests for Ryon"
    runs-on: [self-hosted, wolf]
    env:
      CP_PRIORITY: 1

      EL8_BUILD_VERSION: 8.6
      EL8_VERSION: 8.8
      EL9_BUILD_VERSION: 9
      EL9_VERSION: 9
      LEAP15_VERSION: 15.5
      CONFIG_POWER_ONLY: false
      PRAGMA_SUFFIX: -vm
      OPERATIONS_EMAIL: ryon.jensen@intel.com
      TEST_RPMS: true
      JENKINS_URL: https://build.hpdd.intel.com/
      REPOSITORY_URL: https://repo.dc.hpdd.intel.com/
      REMOVE_EXISTING_RPMS: false
      # TODO -- this should be on stable, backed-up storage
      ARTIFACTS_URL: file:///scratch/job_repos/
      REPO_FILE_URL: https://artifactory.dc.hpdd.intel.com/artifactory/repo-files/

      REPO_PATH: /scratch/job_repos/daos-stack/job/daos/job/PR-${{ github.event.pull_request.number }}/


      CHROOT_NAME: "rocky+epel-8-x86_64"
      DISTRO_NAME: "EL"
      DISTRO_NAME_UPPER: "EL"
      DISTRO_NAME_LOWER: "el"
      DISTRO_VERSION: "8.6"
      DISTRO_VERSION_MAJOR: "8"
      DISTRO_WITH_VERSION: "el8.6"
      OPENMPI: "openmpi"
      LABEL: "ci_vm1"
      DISTRO: EL_8
      DAOS_STACK_EL_8_LOCAL_REPO: not_used
      DAOS_STACK_EL_8_GROUP_REPO:
      DAOS_STACK_EL_8_APPSTREAM_REPO:

      DAOS_STACK_EL_7_LOCAL_REPO: not_used

      NODESTRING:
      CP_PR_REPOS:
      CP_FEATURES:
      CP_TEST_TAG:
      CP_EL8_VM9_LABEL:
      CP_EL9_VM9_LABEL:
      CP_LEAP15_VM9_LABEL:
      CP_EL8_VERSION:
      CP_EL9_VERSION:
      CP_LEAP15_VERSION:
      CLUSTER_REQUEST_reqid:
      STAGE_NAME: STAGE_RYON
      QUEUE_URL:
      COMMIT_STATUS_DISTRO_VERSION:
      PROVISION_DISTRO: EL_8

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Request and Provision a Cluster
        timeout-minutes: 7200
        uses: ./.github/actions/provision-cluster
        with:
          condition: true