name: Yamllint

# Run yamllint on PRs.  This ignores many pre-existing errors in the src/tests/ftests directory
# however those are silenced via the .yamllint file.

# Checks out a merge of the PR onto the target branch  so should test the code as landed, not as it
# is in the PR.

on:  # yamllint disable-line rule:truthy
  pull_request:
    paths:
      - '**/*.yaml'
      - '**/*.yml'

jobs:
  yaml-lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set up Python environment
        uses: actions/setup-python@v3
        with:
          python-version: '3'
      - name: Run check
        run: yamllint --format github .
